/* https://mycolor.space/?hex=%234F3F52&sub=1 */
/* To add alt text to the images */

*{
    padding:0px;
    margin:0px;
    list-style: none;
	text-decoration: none;
}

/* General Settings */
html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Crete Round' !important;
    background: linear-gradient(355deg, rgba(121,86,93,1) 0%, rgba(110,79,88,1) 4%, rgba(106,77,87,1) 9%, rgba(86,110,142,1) 28%, rgba(79,67,91,1) 70%, rgba(78,60,76,1) 91%);
}

p{
    color:#FFE8FF;
}

h1{
    font-size:3.5em;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

h2{
    font-size: 2.4em;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

h3{
    font-size: 1.5em;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}


/* Header Settings */


header hgroup{
    padding-top:20em;
    font-style: italic;
}

.main-header{
    height: 100vh;
}

#home-header-background,
#lore-header-background,
#skins-header-background,
#coaching-header-background,
#thankyou-header-background
{
    background-image: url(images/Sona-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#lore-header-background{
    background-image: url(images/SonaShow.jpg);
}

#skins-header-background{
    background-image: url(images/SonaSkins.jpg);
    background-position:top right;
    background-position: 70% 80%;
}

#coaching-header-background{
    background-image: url(images/SonaCoaching.jpg);
}

#thankyou-header-background{
    background-image: url(images/SonaThankYou.jpeg);

}

.thankyou-h2-mobile{
    font-style: normal;
    text-shadow: none;
    color:#4f3f52;
    padding-top:25em;
}

.thankyou-h2-mobile h2{
    
    color:#4f3f52;
    -webkit-text-stroke: 1px #fff;
}


/* Nav Settings */


.main-nav{
    text-align: center;
    z-index: 10;
}

.main-nav ul{
    padding: 10px;
    padding-top: 25px;
}

.main-nav ul li{
    list-style-type: none;
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding:15px;
    background-color: rgba(79,137,164,0.5);
    box-shadow: 1px 1px 5px black;
}

.main-nav ul li a{
    color: white;
}

.skins-nav-li-fix{
    width: 86% !important;
}

/* Section Settings */


main article{
    margin: 0 auto;
    width: 80%;
}

article figure img{
    display: block;
    margin: 15px auto;
    width: 100%;
    border:1px solid #fff;
}

article p{
    display: block;
    margin: 15px auto;
    width: 95%;
    text-align: justify;
}

article .ability-icon{
    width: 17px;
    margin-right: 5px;
}

section h2{
    margin: 0 0 15px 0;
}


/* Gallery Settings */


#mobile-gallery article p{
    font-size: 1.5em;
    text-align: center;
    width: fit-content;
    border-bottom: 1px double #FFE8FF;
}

#mobile-gallery article{
    margin-bottom: 50px;
}

    /* Carousel CSS */

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    display:none;
    /* TO DISPLAY AFTER 1000px */
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 10px;
}

#custCarousel .carousel-indicators> li {
    width: 100px;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

.carousel-item img {
    width: 90%;
}

.carousel-nametag{
    margin-top: 15px;
    font-size: 1.5em;
    text-align: center;
    width: fit-content;
    border-bottom: 1px double #FFE8FF;
}


/* Coaching Settings */


form{
    width: 70%;
    margin: 40px auto;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.2);
    padding: 20px;
}

form label{
    font-size: 1.5em;
    color:#FFE8FF;
}

form input[type=text], select, input[type=date],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
 
form textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

form input[type=submit], input[type=reset] {
    background-color: #6586B2;
    color: #FFE8FF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
  
form input[type=submit]:hover, input[type=reset]:hover {
    background-color: #FFE8FF;
    color:#4F3F52;
}


/* Footer Settings */

footer{
    background-color: rgba(255,255,255, 0.4);
}

footer section{
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p{
    padding-top: 5px;
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 17px;
    color:#566E8E;
}

@media screen and (min-width:768px) {


/* Nav Settings */


.main-nav{
    overflow: hidden;
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

.main-nav ul{
    padding: 30px 15px;
    margin-bottom: 0;
    
}

.main-nav ul li{
    display:inline-block;
    width: 15%;
    margin: 0 15px;
    background-color: rgb(79,137,164);    
}

.skins-nav-li-fix{
    width: 18.55% !important;
}

.content {
    padding-top: 16px;
}

.sticky + .content {
    padding-top: 60px;
}


main section{
    margin-top: 15px;
}



}

@media screen and (min-width:992px) {
    
}
